body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(186, 216, 206);
}

.btn{
    text-decoration: none;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 20px;
    color: #000;
    text-shadow: 5px 5px 5px;
    box-shadow: 5px 5px 5px;
    position: relative;
    overflow: hidden;
}
.btn::before{
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    background-color: orangered;
     border-radius: 50px;
    transition: width 0.5s ,height 0.5s;
}
.btn:hover::before{
    width :300px;
    height: 200px;
}